<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Website</title>



    <!------- Custom CSS link -------->
    <link rel = "stylesheet" type = "text/css" href = "static/css/style.css">
    <link rel="stylesheet"
         href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500;1,800&display=swap" rel="stylesheet">
</head>
<body>

        <!--------- Header Design ---------------->
        <header>
        <a href ="#" class="logo">Cod<span>e</span>r.</a>

        <ul class="navlist">
            <li><a href ="#home" class = "active">Home</a></li>
            <li><a href ="#about">About Me</a></li>
            <li><a href ="#services">Services</a></li>
            <li><a href ="#portfolio">Portfolio</a></li>
            <li><a href ="#contact">Contact Me</a></li>

        </ul>
        <div class="bx bx-menu" id="menu-icon">
        </div>
        </header>

        <!-------- Home Section Design------------->
        <section class="home" id="home">
            <div class="home-text">
                <div class="slide">
                    <span class="one">Hello</span>
                    <span class="two">I'm</span>
                </div>
                <h1>Nikhil Dattatraya Dahitule</h1>
                <h3>AI <span>Engineer</span></h3>
                <p>Experience in Python, Machine Learning, Deep learning</p>

            <div class="button">
                <a href="/download_resume" class="btn">Download Resume</a>
                <a href="#" class="btn2"><span><i class="bx bx-play"></i></span>Watch My Work</a>
            </div>
                 </div>
        </section>

              <!-------- About Section Design------------->
        <section class="about" id="about">
            <div class="about-img">
                <img src="static/images/aboutimg1.jpeg">
            </div>
            <div class="about-text">
                <h2>About <span>Me</span></h2>
                <h4>Data Scientist</h4>
                <p>I have good hands on in python programming and python libraries like Matplotlib, Pandas,Numpy, Scipy, Scikit-Learn,
                    Seaborn, Plotly, Cookiecutter and CICD Tools like CircleCi, Github Actions. Also I have good knowledge of SQL,
                    and excellence in applied statistics.
                </p>
                <a href="#" class="btn">More About</a>
            </div>
        </section>

             <!-------- Services Section Design------------->
        <section class="services" id="services">
            <div class="main-text">
                <p>What i am Expert In</p>
                <h2><span>My</span> Services</h2>
            </div>
            <div class="services-content">
                <div class="box">
                  <div class="s-icons">
                      <i class="bx bx-mobile-alt"></i>
                  </div>
                <h3>Web Design</h3>
                <p>One way to category the activities is in terms
                of the professional's area of expert such as competetive analysis,corporate startegy</p>
                <a href ="#" class="read">Read More</a>
                    </div>

                 <div class="box">
                  <div class="s-icons">
                      <i class="bx bx-code-alt"></i>
                  </div>
                <h3>Creative Design</h3>
                <p>One way to category the activities is in terms
                of the professional's area of expert such as competetive analysis,corporate startegy</p>
                <a href ="#" class="read">Read More</a>
                    </div>

                 <div class="box">
                  <div class="s-icons">
                      <i class="bx bx-edit-alt"></i>
                  </div>
                <h3>Development</h3>
                <p>One way to category the activities is in terms
                of the professional's area of expert such as competetive analysis,corporate startegy</p>
                <a href ="#" class="read">Read More</a>
                    </div>
             </div>

        </section>

         <!-------- Portfolio Section Design------------->
        <section class="portfolio" id="portfolio">
            <div class="main-text">
                <p>Portfolio</p>
                <h2><span>Latest</span> Project</h2>
            </div>

            <div class="portfolio-content">
                <div class="row">
                    <image src="static/images/Phishing.jpeg">
                        <div class="layer">
                            <h5> Phishing Websites Detection</h5>
                            <p>Github link</p>
                            <a href="https://github.com/NikhilDahitule/Phishing_Website_URL_Detection"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>

                 <div class="row">
                    <image src="static/images/CreditCard.jpeg">
                        <div class="layer">
                            <h5> Credit Card Default Prediction</h5>
                            <p>Github link</p>
                            <a href="https://github.com/NikhilDahitule/Credit_Card_Default_Prediction"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>

                 <div class="row">
                    <image src="static/images/wafer.jpg">
                        <div class="layer">
                            <h5> Wafer Fault Detection</h5>
                            <p>Github link</p>
                            <a href="https://github.com/NikhilDahitule/Wafer_Fault_Detection"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>

                 <div class="row">
                    <image src="static/images/portfolio1.jpg">
                        <div class="layer">
                            <h5> Visual Design</h5>
                            <p>Check out 10 Best Design's updates.</p>
                            <a href="#"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>

                 <div class="row">
                    <image src="static/images/portfolio1.jpg">
                        <div class="layer">
                            <h5> Visual Design</h5>
                            <p>Check out 10 Best Design's updates.</p>
                            <a href="#"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>

                 <div class="row">
                    <image src="static/images/portfolio1.jpg">
                        <div class="layer">
                            <h5> Visual Design</h5>
                            <p>Check out 10 Best Design's updates.</p>
                            <a href="#"><i class="bx bx-link-external"></i></a>
                        </div>
                    </image>
                </div>
            </div>
        </section>

        <!-------- Contact Section Design------------->
        <section class="contact" id="contact">
            <div class="contact-text">
                <h2>Contact<span> Me!</span></h2>
                <h4>If You Have Any Project In Your Mind.</h4>
                <p>I'm a Data Scientist  </p>
                <div class="list">
                    <li><a href="tel:+919623252423">+91-9623252423</a></li>
                    <li><a href="mailto:nikhildahitule@gmail.com">nikhildahitule@gmail.com</a></li>
                    <li><a href="#">Like Share & Subscribe</a></li>
                </div>

                 <div class="contact-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class="bx bxl-twitter"></i></a>
                    <a href="https://www.instagram.com/nikhildahitule"><i class="bx bxl-instagram-alt"></i></a>
                     <a href="https://youtube.com/@NikhilDahitule"><i class="bx bxl-youtube"></i></a>
                     <a href="https://www.linkedin.com/in/nikhil-dahitule-21b9a5158/"><i class='bx bxl-linkedin-square'></i></a>
                     <a href="https://wa.me/9623252423"><i class='bx bxl-whatsapp'></i></a>
                     <a href="https://github.com/NikhilDahitule"><i class='bx bxl-github'></i></a>
                </div>
                </div>
                <div class="contact-form">
                    <form action="/contact" method="POST">
    <input type="hidden" name="_captcha" value="false">
    <label for="name">Your name</label>
    <input type="text" name="name" id="name" required>
    <label for="email">Your email address</label>
    <input type="email" name="email" id="email" required>
    <label for="mobile">Your mobile number</label>
    <input type="text" name="mobile" id="mobile" required>
    <label for="message">Your message</label>
    <textarea name="message" id="message" required></textarea>
    <button type="submit">Send</button>
</form>

                </div>

        </section>


                <!-------- Footer Section Design------------->
        <section class="end">
            <div class="last-text">
                <p>Copyright &copy; 2023 by Nikhil Dahitule All Rights Reserved.  </p>
            </div>
            <div class="top">
                <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
            </div>
        </section>
        <!-------- custom Javascript link------------->
    <script type = "type/javascript" src = "static/js/script.js"></script>

</body>
</html>